p Welcome to Chode, a <b>ch</b>at server in n<b>ode</b>.
form#join
  label(for="nickname") And you are?
  input#nickname(name="nickname", type="text", placeholder="Pick a nick")
  input(type="submit", value="Go")

script(src="/javascripts/chode.js")
