!!! 5
html
  head
    title Chode
    link(rel='stylesheet', href='/stylesheets/global.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/javascripts/socket.io.min.js")
  body!= body
